@import "./../../styles/variables";
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: $white-color;
  padding: 10px 2rem;
  .logo {
    h2 {
      color: $primary-color;
    }
  }
  .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    h3 {
      color: $primary-color;
    }
  }
}
