/*****COLORS*****/
$white-color: #fff;
$black-color: #000;
$primary-color: rgba(113, 99, 186, 255);
$secondary-color: #e0e0e058;
$bg-color: #ebebe9;
$grey-10: #fafafa;
$grey-20: #f1f1f1;
$grey-30: #eaecee;
$grey-40: #d6dade;
$grey-50: #a8b0b9;
$grey-60: #717d8a;
$grey-80: #373f47;
$grey-90: #242d35;
$grey-100: #0c1116;
$error-color: #d01509;
